{%extends "app/base.html"%}
{%load static%}

{% block title %}Home{% endblock %}

{%block content%}
				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Hey, I'm Kaif</h1>
							</header>
							<div class="content">
								<p>Here, you can check out what I'm working on, and get to know me! </p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Featured Projects</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
							
									<span class="image">
										<img src="{%static 'app/images/todoapp1.png'%}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'app:landing'%}" class="link">Todo Web Application</a></h3>
										<div class="tech-list">
											<img src="{% static 'app/webfonts/postgresql-svgrepo-com.svg' %}" alt="postgresql" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/reactjs-svgrepo-com.svg' %}" alt="ReactJS" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/javascript-16-svgrepo-com.svg' %}" alt="ReactJS" style="width: 50px; height: 50px;">

										</div>
									</header>
								</article>
								<article>
							
										<span class="image">
											<img src="{%static 'app/images/Facial_Expressions.jpg'%}" alt="" />
										</span>
										<header class="major">
											<h3><a href="{% url 'app:landing'%}" class="link">Nervousness Detection System</a></h3>
											<div class="tech-list">
												<img src="{% static 'app/webfonts/python-svgrepo-com.svg' %}" alt="Python" style="width: 50px; height: 50px;">
												<img src="{% static 'app/webfonts/postgresql-svgrepo-com.svg' %}" alt="postgresql" style="width: 50px; height: 50px;">
												<img src="{% static 'app/webfonts/opencv-svgrepo-com.svg' %}" alt="OpenCV" style="width: 50px; height: 50px;">
												<img src="{% static 'app/webfonts/flask-svgrepo-com.svg' %}" alt="Flask" style="width: 50px; height: 50px;">
											</div>
									</header>
								</article>
								<article>
								
									<span class="image">
										<img src="{%static 'app/images/picture1.png'%}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'app:landing'%}" class="link">Assignment Evalutaion Model</a></h3>
										<div class="tech-list">
											<img src="{% static 'app/webfonts/python-svgrepo-com.svg' %}" alt="Python" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/Streamlit.svg' %}" alt="streamlit" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/mysql-svgrepo-com.svg' %}" alt="SQlite" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/huggingface-2.svg' %}" alt="Tailwind" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/tensorflow-2.svg' %}" alt="Tensorflow" style="width: 50px; height: 50px;">

										</div>									
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{%static 'app/images/pic11.png'%}" alt="" />
									</span>
									
									<header class="major">
										<h3><a href="{% url 'app:landing'%}" class="link">Youtube Video to Blog</a></h3>
									
										<div class="tech-list">
											<img src="{% static 'app/webfonts/python-svgrepo-com.svg' %}" alt="Python" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/djangoproject-svgrepo-com.svg' %}" alt="Django" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/firebase-svgrepo-com.svg' %}" alt="Firebase" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/openai-svgrepo-com.svg' %}" alt="OpenAI" style="width: 50px; height: 50px;">
										</div>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{%static 'app/images/Urlshortner.png'%}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'app:landing'%}" class="link">URL shortner WebApp</a></h3>
										<div class="tech-list">
											<img src="{% static 'app/webfonts/python-svgrepo-com.svg' %}" alt="Python" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/djangoproject-svgrepo-com.svg' %}" alt="Flask" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/gcp-svgrepo-com.svg' %}" alt="Gcloud" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/tailwindcss-icon-svgrepo-com.svg' %}" alt="Tailwind" style="width: 50px; height: 50px;">
										</div>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{%static 'app/images/api.png'%}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'app:landing'%}" class="link">SocialMedia Downloader API</a></h3>
										<div class="tech-list">
											<img src="{% static 'app/webfonts/python-svgrepo-com.svg' %}" alt="Python" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/flask-svgrepo-com.svg' %}" alt="Flask" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/firebase-svgrepo-com.svg' %}" alt="Firebase" style="width: 50px; height: 50px;">
											<img src="{% static 'app/webfonts/gcp-svgrepo-com.svg' %}" alt="Gcloud" style="width: 50px; height: 50px;">
										</div>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Massa libero</h2>
									</header>
									<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
									<ul class="actions">
										<li><a href="{% url 'app:landing'%}" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section>
					</div>

			
{% endblock %}
